@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
}

@font-face {
    font-family: 'JSArirang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'KyoboHandwriting2020A';
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/bg.png);
    background-size: 100%;
    font-size: 16px;
}

.hidden {
    display: none;
}

.btnSet {
    border: none;
    background-color: transparent;
    margin-left: 0.625rem;
    font-size: 0.75rem;
    cursor: pointer;
    color: rgb(182, 54, 54);
}

/* main page */

#mainPage {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* clock */

#clock {
    position: absolute;
    font-size: 1.25rem;
    margin-top: 1.875rem;
    margin-left: 1.875rem;
    top: 0;
    left: 0;
}

h1 {
    font-family: 'JSArirang-Regular';
    font-size: 3.75rem;
    color: #000;
}

/* greeting */
#greeting {
    font-size: 1.25rem
}

/* todo-form */
#todo-form input {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    text-align: center;
}

#todo-form input:focus {
    outline: none;
}

/* quotes */

#quote {
    position: absolute;
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    margin-top: 1.875rem;
    margin-right: 1.875rem;
    top: 0;
    right: 0;
}

#quote span:first-child {
    border: 1px solid rgb(182, 54, 54);

}

#quote span:last-child {
    align-self: flex-end;
    margin-right: 1.25rem;
}

/* weather */

#weather {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    margin-bottom: 1.25rem;
    text-align: center;
}

#weather span:last-child {
    font-size: 0.625rem;
}

/* nav Btn */
#navBtn {
    position: absolute;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    right: 0;
    bottom: 0;
    margin-right: 1.875rem;
    margin-bottom: 1.875rem;
}

#navBtn button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0.625rem;
}


/* test page */

#testPage {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#testPage h1 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1.25rem;
}

#testPage button:nth-child(2) {
    margin-bottom: 1.25rem;
}


#testPage button {
    width: 50vw;
    height: auto;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
}
